<table align="center">
	{{form_start(formEdit)}}

	<tr>

		<td>
			{{form_label(formEdit.username)}}

		</td>

		<td>
			{{form_widget(formEdit.username)}}

		</td>
	</tr>


	<tr>

		<td>
			{{form_label(formEdit.email)}}

		</td>

		<td>
			{{form_widget(formEdit.email)}}

		</td>
	</tr>

	<tr>


		<td>
			{{form_row(formEdit.save)}}

		</td>
	</tr>
	{{form_end(formEdit)}}

</table>
