

<table align="center" border="1">
<caption> List Authors</caption>

<tr>
    <td>Id</td>
    <td>Username</td>
    <td>Email</td>
    <td>Number of books</td>

    <td>Action</td>
</tr>

{% for a in list %}
<tr>
<td>{{a.id}}</td>
<td>{{a.username}}</td>
<td>{{a.email}}</td>

<td>{{a.nb_books}}</td>
<td><a href="{{path('delete',{'id': a.id})}}">Delete</a>

    <a href="{{path('modification',{'ide':a.id})}}"> Update</a>

</td>

</tr>
{% endfor %}


</table>

<a href="{{path('add')}}"> add author</a>
