



<center>
    <form action="{{path('searchByAuthor')}}">


        <label for="">Author</label>

        <input type="text" name="username" id="">
        <input type="submit" value="Search">
    </form>
</center>
<form action="{{path('updateCat')}}">

<label for="">Old Categroy</label>
    <select name="oldcategory" id="">
   <option value="Romance">Romance</option>
   <option value="Bonjour">Bonjour</option>
   <option value="Bonne nuit">Bonne nuit</option>

    </select>

    

    <label for="">New Categroy</label>
    <select name="newcategory" id="">

        <option value="Salut">Salut</option>
        <option value="Bonsoir">Bonsoir</option>
        <option value="Taief">Taief</option>


    </select>
    <input type="submit" value="change">





</form>




<a href="{{path('updateCat')}}"> Update category</a>

<table align="center" border="1">
    <caption>List of books</caption>

    <tr>
        <td>Référence</td>
        <td>Author</td>
        <td>Title</td>
        <td>Category</td>
        <td>Publication date</td>
        <td>Published</td>

        <td>Action</td>
    </tr>


    {% set pubT = 0 %}
    {% set pubN = 0 %}

    {% if listBooks | length ==0 %}

    <h1>No books in database</h1>

    {% else %}

    {%  for b in listBooks   %}
    {% if b.published == true %}
    {% set pubT = pubT +1 %}



    
    <tr> 

        <td>{{b.ref}}</td>
        <td>{{b.author}}</td>
        <td>{{b.title}}</td>
        <td>{{b.category}}</td>
        <td>{{b.publicationDate | date}} </td>
        <td>{{b.published}}</td>

        <td>


            <a href="{{path('detailsbook',{'id':b.ref})}}">Show</a>
            <a href="{{path('deleteBook',{'id':b.ref})}}">Delete</a>
            
            <a href="{{path('editBook' , {'idBook': b.ref} )}}">Edit</a></td>
    </tr>

    {% else %}

    {% set pubN = pubN +1 %}


    <h1>No books published !!! </h1>

    {% endif %}
    {% endfor %}


    {% endif %}
    <h1> number of  published books   : {{pubT}}  </h1>
    <h1>Number of no published  books  : {{pubN}} </h1>

    


    <a href="{{path('addbook')}}"> Add book</a>
</table>
